{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Cart</h1>
    </div>
</div>
{% if messages %}
<div class="row">
    <div class="col">
        <ul class="messages">
            {% for message in messages %}
            <li class="messages-list-item">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<div class="row row-flex">
    <div class="col border border-dark my-5 py-3">
        {% for cart_item in cart_context %}
        <div class="d-block">
            <h3>{{ cart_item.product.quiz.quiz_name }}</h3>
            <p>Price: {{ cart_item.product.price }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <p>Total</p>
    <p>&euro;{{ total_price }}</p>
    <a href="{% url 'checkout:checkout' %}" class="btn btn-success" role="button">Checkout</a>
</div>
{% endblock %}