{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}

{% block content %}
{% if messages %}
<div class="row">
    <div class="col">
        <ul class="messages">
            {% for message in messages %}
            <li class="messages-list-item">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% if user.is_authenticated %}
<div class="row pt-5">
    <div class="col d-flex flex-column align-items-center">
        <div class="w-100 text-center">
            <h2>Leaderboard</h2>
        </div>
        <table class="leaderboard-table">
            <tr>
                <th>Player</th>
                <th>Score</th>
            </tr>
            {% for player in leaderboard %}
            <tr>
                <td>{{ player.player }}</td>
                <td>{{ player.score }}&#37</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col my-5 py-3">
        <h3 class="text-center">
            You have played {{ number_quizes_played }} quizes and answered {{ user_percentage_correct }}&#37 correctly
        </h3>
    </div>
</div>
{# Quizes #}
<div class="row mt-5 mb-2">
    <div class="col">
        <h2>Most recent quizes uploaded</h2>
        <p>See more in the 
            <a href="{% url 'quiz:index' %}" class="red-link">Quiz section</a>
        </p>
    </div>
</div>
<div class="row">
    {% for quiz in quizes %}
    {% if quiz in played_quizes_list %}
    <div class="col-6 col-md-4">
        <div class="grey-overlay">
            <div class="quiz-block row">
                <div class="quiz-image-wrapper col-12 d-flex justify-content-center align-items-center">
                    <img src="{% static question_man_list|random %}" alt="quiz image" class="quiz-image">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="quiz-text">
                        <p class="text-center">{{ quiz.quiz_name }}</p>
                        <p class="text-center">You have already played this</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-6 col-md-4">
        <a href="{% url 'quiz:play_quiz' quiz.id %}">
            <div class="quiz-block row">
                <div class="quiz-image-wrapper col-12 d-flex justify-content-center align-items-center">
                    <img src="{% static question_man_list|random %}" alt="quiz image"
                        class="quiz-image quiz-image-active">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="quiz-text">
                        <p class="text-center">{{ quiz.quiz_name }}</p>
                        <p class="text-center">made by {{ quiz.creator }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col">
        <div class="logged-out-wrapper d-flex align-items-center justify-content-center">
            <div class="logged-out-jumbo jumbotron">
                <h1>Quizim</h1>
                <p>Create and share quizes</p>
                <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#loginModal">
                    Login
                </button>
                <a href="{% url 'accounts:signup' %}">
                    <p class="red-link">Or register here</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{# Login Modal #}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLongTitle">Please login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'accounts:signin' %}" method="POST">
                    {% csrf_token %}
                    {{ login_form|crispy }}
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-success login-modal-buttons">Log In</button>
                        <button type="button" class="btn btn-secondary login-modal-buttons"
                            data-dismiss="modal">Close</button>
                    </div>
                    <div>
                        <p>or reset your password 
                            <a href="{% url 'accounts:password_reset' %}" class="red-link">here</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}