{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Woo hoo! You're purchase was successful!</h1>
        <p>Check out quizes you've bought in the 
            <a href="{% url 'userarea:index' %}" class="red-link">userarea</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        {% for product in cart_context %}
            <div>
                <span>{{ product.product.quiz.quiz_name }}</span>
                <span>{{ product.product.price }}</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}