{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Quiz Home (temporary)</h1>
        <a href="{% url 'quiz:create_quiz' %}" class="btn btn-success btn-block">Create Quiz</a>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if quizes %}
            {% for quiz in quizes %}
            <div class="quiz-block">
                <h3>{{ quiz.quiz_name }}</h3>
                <p>Created by: {{ quiz.creator }}</p>
                {{quiz.id}}
                <a href="{% url 'quiz:play_quiz' quiz.id %}">Play</a>
            </div>
            {% endfor %}
        {% else %}
        <div class="jumbotron">
            <h1>Whoops! No quizes yet!</h1>
            <p>Be the first to create a quiz</p>
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}