{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ quiz.quiz_name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form action="{% url 'quiz:play_quiz' quiz.id %}" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="question-form input-group">
                    <div class="question-form-field col-6">
                        {{ form.question.value}}
                    </div>
                    <div class="question-form-field">
                        {{ form.question }}
                    </div>
                    <div class="question-form-field col-6">
                        {{ form.player_answer }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-block my-5">Save Answers</button>
        </form>
    </div>
</div>

{% endblock %}
