{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<link rel="stylesheet" href="{% static 'userarea/css/style.css' %}">
{% endblock %}
{% block title %}User Area{% endblock %}
{% block content %}
{{ bar_chart_data|json_script:"bar_chart_data" }}
<div class="row">
    <div class="col">
        <div class="graphs-wrapper">
            <div id="bar-chart">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col border border-dark p-5 my-3">
        <h2>Your Details</h2>
        <form action="{% url 'userarea:update_user_details' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <div class="profile-image-container">
                {% if user.profile.profile_pic %}
                <img src="{{ MEDIA_URL }}{{ user.profile.profile_pic }}" alt="User's profile picture"
                    class="profile-image">
                {% else %}
                <img src="{% static 'userarea/images/question-mark-profile-temp.jpg' %}" alt="Default profile picture"
                    class="profile-image">
                {% endif %}
            </div>
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col border border-dark p-5 my-3">
        <h2>Change Password</h2>
        <form action="{% url 'userarea:change_password' %}" method="POST">
            {% csrf_token %}
            {{ password_form|crispy }}
            <button type="submit" class="btn btn-block btn-success">Change Password</button>
        </form>
        {% if messages %}
        {% for message in messages %}
        <p>Your password has been changed!</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col border border-dark p-5 my-3">
        {% if user_quizes %}
        <h2>Quizes you've created:</h2>
        <ul>
            {% for quiz in user_quizes %}
            <li>{{ quiz.quiz_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>Looks like you haven't made any quizes :-(</h2>
        <a type="button" href="{% url 'quiz:create_quiz' %}" class="btn btn-primary">Create a quiz</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col border border-dark p-5 my-3">
        {% if quizes_played %}
        <h2>Quizes you've played:</h2>
        <ul>
            {% for quiz in quizes_played %}
            <li>{{ quiz.quiz.quiz_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>Looks like you haven't played any quizes :-(</h2>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col border border-dark p-5 my-3">
        {% if quizes_purchased %}
        <h2>Quizes you've bought:</h2>
        <ul>
            {% for quiz in quizes_purchased %}
            <li>{{ quiz.quiz.quiz_name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="{% static 'userarea/js/userarea_charts.js' %}"></script>
{% endblock %}