.question-btn {
    width:60%;
}
/* Edit question formset - hide the DELETE checkbox */
.question-btn input  {
    display:none;
}

.question-form-field {
    margin-bottom: 2%;
    padding: 2%;
    width:100%;
}

/* media queries */
@media (min-width:768px) {
    .question-btn {
        width:30%;
    }
    .question-form:hover {
        background-color:rgb(200, 250, 200);
        border: 1px hidden;
        border-radius: 3%;
    }
    .results-table {
        width:75%;
    }
    .results-table td,th {
        width:25%;
    }
}