{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block css %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <div class="header-wrapper container-fluid">
        <header class="row d-flex align-items-center">
          <nav class="col-sm-12 col-md-8 navbar navbar-expand-md">
            <a class="navbar-brand" href="{% url 'home:index' %}">
              <div class="logo-wrapper">
                <img src="{% static 'images/question-mark-logo2.png' %}" alt="Quizim Header Logo" class="logo-image">
              </div>
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#mobileMenu"
              aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quiz:index' %}">Quiz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'userarea:index' %}">User Area</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'store:index' %}">Store</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
            {% if user.is_authenticated %}
            <span>Hi {{ user.username }}</span>
            <a href="{% url 'accounts:signout' %}" role="button" class="btn btn-danger btn-sm">Logout</a>
            {% else %}
            <span>Please log in</span>
            {% endif %}
            <a href="{% url 'cart:view_cart' %}" class="header-cart">
              <i class="fas fa-shopping-cart"></i>
              <span class="sr-only">Shopping Cart</span>
              {% if product_count %}
              <span>({{ product_count }})</span>
              <span>&euro;{{ total_price }}</span>
              {% else %}
              <span class="sr-only">Empty Cart</span>
              {% endif %}
            </a>
          </div>
        </header>
      </div>

      <main>
        <div class="collapse navbar-collapse mobile-menu-overlay" id="mobileMenu">
          <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quiz:index' %}">Quiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'userarea:index' %}">User Area</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store:index' %}">Store</a>
            </li>
            <li>
              {% if user.is_authenticated %}
              <a href="{% url 'accounts:signout' %}" role="button"
                class="btn btn-danger d-sm-block d-md-none">Logout</a>
              {% endif %}
            </li>
          </ul>
        </div>
        <div class="container main-container">
          {% block content %}
          {% endblock %}
        </div>
      </main>

      <footer class="container-fluid">
        <div class="row">
          <div class="col d-flex align-items-center">
            <h3>M4 Project</h3>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f66fbe929e.js" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block js %}
{% endblock %}

</html>